# --- .env ---

PROJECT_NAME="StreamAgent"
DEBUG_MODE=True

REDIS_URL="redis://localhost:6379/0"


GATEWAY_HOST="0.0.0.0"
GATEWAY_PORT=8000

DASHSCOPE_API_KEY="sk-DashScope"
OPENAI_API_KEY="sk-OpenAI"
OPENAI_BASE_URL="openai url"